body {
    background: #f9f9f9;
}

@keyframes rabbit-animation {
    50% {
      transform: scale(0.5);
      opacity: 0.5;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
  
svg polygon {
    animation: rabbit-animation 500ms ease-out alternate forwards;
    transform: scale(0);
    transform-origin: center;
    opacity: 0;
}

svg polygon:nth-child(1n + 0) {
    animation-delay: 0.4s;
}

svg polygon:nth-child(2n + 0) {
    animation-delay: 0.6s;
}

svg polygon:nth-child(3n + 0) {
    animation-delay: 0.8s;
}
